div.label {
    width: 140px;
}

div.value {
    display: inline-block;
    width: 100px;
}

input.text {
    width: 50px;
}

div#box_image {
    width: 264px;
    height: 62px;
}

div#container_keys {
    width: 350px;
    height: 400px;
}

img#image {
    width: 264px;
    height: 56px;
}
