:root {
    --color: rgb(255, 255, 255);
    --shadow-color: rgb(0, 0, 0);
    --background-color: rgb(5, 5, 44);
    --input-color: rgb(0, 0, 0);
    --input-disabled-color: rgb(0, 0, 0);
    --input-placeholder-color: rgb(160, 160, 64);
    --input-background-color: rgb(224, 224, 224);
    --input-disabled-background-color: rgb(128, 128, 128);
    --input-border-color: rgb(112, 112, 112);
    --button-color: rgb(0, 0, 0);
    --button-background-color: rgb(15, 15, 15);
    --button-hover-background-color: rgb(30, 30, 30);
    --tabpage-color: rgb(255, 255, 255);
    --select-tabpage-background-color: rgb(28, 28, 125);
    --select-tabpage-selected-background-color: rgb(0, 0, 0);
    --tabpage-border-color: rgb(128, 128, 128);
    --tabpage-background-color: rgb(0, 0, 0);
    --scroll-border-color: rgb(105, 105, 105);
    --scroll-background-color: rgb(0, 0, 0);
    --highlight-background-color: rgb(67, 39, 19);
    --highlight-border-color: rgb(105, 105, 105);
    --toggle-message-color: rgb(68, 68, 68);
    --toggle-message-border-color: rgb(64, 64, 64);
    --toggle-on-color: rgb(135, 184, 200);
    --toggle-on-background-color: rgb(10, 10, 80);
    --th-background-color: rgb(68, 68, 68);
    --td-background-color-odd: rgb(15, 15, 116);
    --td-background-color-even: rgb(47, 47, 156);
    --td-background-color-hover: rgb(56, 33, 17);
    --td-background-color-selected: rgb(7, 90, 7);
    --message-color: rgb(200, 98, 98);
}

body {
    font-family: "Yu Mincho Demibold";
    color: var(--color);
    background-color: var(--background-color);
    white-space: nowrap;
}

div#components {
    display: none;
}

div.component {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #888;
    box-sizing: border-box;
    overflow: auto;
}

dialog {
    color: var(--color);
    background-color: var(--background-color);
}

.unusable {
    pointer-events: none;
    user-select: none;
}

div.pane {
    margin: 1px;
}

div.spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.width_fixed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.label {
    display: inline-block;
    padding: 0px 3px;
    user-select: none;
    font-size: small;
}

div.highlight {
    background-color: var(--highlight-background-color);
    border-style: dashed;
    border-width: 1px;
    border-color: var(--highlight-border-color);
}

p.tabcontrol {
    margin: 0px;
}

button {
    height: 22px;
    border: 1px solid var(--input-border-color);
    margin: 1px;
    padding: 0px 4px;
    font-size: x-small;
    color: var(--button_color);
    background-color: var(--button-background-color);
    user-select: none;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

input,
select,
textarea {
    color: var(--input-color);
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    margin: 1px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    color: var(--input-color);
    background-color: var(--input-background-color);
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-background-color);
}

input::placeholder,
textarea::placeholder {
    color: var(--input-placeholder-color);
    font-size: x-small;
}

button.select_tabpage {
    margin: 0px;
    padding: 0px 4px;
    border-width: 1px 1px 0px 1px;
    vertical-align: bottom;
    font-size: small;
    color: var(--tabpage-color);
    background-color: var(--select-tabpage-background-color);
}

button.select_tabpage_selected {
    background-color: var(--select-tabpage-selected-background-color);
}

div.tabpage {
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 0;
    border: 1px solid var(--tabpage-border-color);
    background-color: var(--tabpage-background-color);
    padding: 0px;
}

img {
    width: 640px;
    height: 360px;
}

div.split_horizontal {
    display: flex;
    flex-direction: row;
    overflow: overlay;
}

div.scroll {
    overflow-y: scroll;
    border: 1px solid var(--scroll-border-color);
    background-color: var(--scroll-background-color);
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 0;
    font-family: "Meiryo";
    font-size: xx-small;
}

tr.tableheader {
    position: sticky;
    top: 0px;
    left: 0px;
    user-select: none;
}
tr.hidden {
    display: none;
}

th,
td {
    border-right: 1px solid #202020;
}

th:last-child,
td:last-child {
    border-right: none;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span {
    padding: 0px 5px;
}

span.filepath {
    font-size: small;
    color: var(--color);
    text-shadow:
        0px 0px 2px var(--shadow-color),
        1px 1px 2px var(--shadow-color);
}

span.toggle_message {
    font-size: small;
    color: var(--toggle-message-color);
    user-select: none;
    border: solid 1px var(--toggle-message-border-color);
    padding: 1px 10px;
}

span.toggle_on {
    color: var(--toggle-on-color);
    background-color: var(--toggle-on-background-color);
}

.tableheader {
    font-size: x-small;
}

th {
    padding: 0px 2px;
}

tr:first-of-type {
    background-color: var(--th-background-color);
}

tr.tableitem {
    user-select: none;
}

tr.tableitem:nth-of-type(odd) {
    background-color: var(--td-background-color-odd);
}

tr.tableitem:nth-of-type(even) {
    background-color: var(--td-background-color-even);
}

tr.tableitem.selected {
    background-color: var(--td-background-color-selected);
}

tr.tableitem:hover {
    background-color: var(--td-background-color-hover);
}

td {
    padding: 0px 3px;
}

td.right {
    text-align: right;
}

input[type="checkbox"] {
    margin-right: 0px;
}

input[type="radio"] {
    margin-right: 0px;
}

label {
    padding-left: 2px;
    user-select: none;
}

div.buttons {
    display: flex;
}

div.buttons_in_dialog {
    text-align: right;
}
