div.pane {
    margin: 1px;
}

div.version {
    display: inline-block;
    user-select: none;
    font-size: small;
}

span.version {
    padding: 0px;
}

span#detect_infinitas,
span#capturable {
    user-select: none;
}

div#tabbody_main {
    width: 642px;
}

div#tabbody_control {
    width: 318px;
}

div#tabbody_detail {
    width: 318px;
}

div.tabpage_main {
    height: 400px;
}

div.tabpage_control {
    height: 271px;
}

div.tabpage_detail {
    height: 157px;
}

td.cell_hidden {
    display: none;
}

table#table_recents th:nth-child(1),
table#table_recents td:nth-child(1),
table#table_recents th:nth-child(2),
table#table_recents td:nth-child(2),
table#table_recents th:nth-child(3),
table#table_recents td:nth-child(3) {
    text-align: center;
    width: 12px;
}

table#table_recents th:nth-child(5),
table#table_recents td:nth-child(5) {
    text-align: center;
    width: 25px;
}

table#table_recents th:nth-child(6),
table#table_recents td:nth-child(6),
table#table_recents th:nth-child(7),
table#table_recents td:nth-child(7),
table#table_recents th:nth-child(8),
table#table_recents td:nth-child(8),
table#table_recents th:nth-child(9),
table#table_recents td:nth-child(9) {
    text-align: center;
    width: 15px;
}

table#table_musics td:nth-child(2),
table#table_musics th:nth-child(2) {
    display: none;
}

div.pane_musicname_search_left {
    padding: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div.pane_musicname_search_right {
    width: 130px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

div.label_in_musicname_search {
    width: 100px;
}

div.label_in_notesradar {
    width: 100px;
}

div.musicnameblock {
    width: 300px;
}

div.label_scoreinformation {
    width: 70px;
}

.label_best {
    width: 90px;
}

.best_value {
    display: inline-block;
    width: 100px;
}

div.best_useoptions,
div.best_timestamps {
    font-size: small;

}

.best_useoptions {
    display: inline-block;
}

.best_timestamps {
    display: none;
}

.label_playresult {
    display: inline-block;
    user-select: none;
    font-size: small;
    width: 82px;
}

.playresult_value {
    display: inline-block;
}

.playresult_datetime {
    font-size: small;
}

.playresult_options {
    font-size: x-small;
}

button#button_recents_confirm_uploadcollectionimages {
    display: none;
}

div#scroll_discordwebhook_events {
    height: 100px;
    overflow-x: hidden;
}

table#table_discordwebhooks th:nth-child(2),
table#table_discordwebhooks td:nth-child(2),
table#table_discordwebhooks th:nth-child(3),
table#table_discordwebhooks td:nth-child(3) {
    text-align: center;
    width: 65px;
}

div#scroll_discordwebhook_logs {
    height: 140px;
}

ul#list_discordwebhook_logs {
    list-style-type: none;
    padding: 0px;
    font-size: xx-small;
}

table#table_notesradar_ranking th:nth-child(1),
table#table_notesradar_ranking td:nth-child(1) {
    width: 20px;
}

table#table_notesradar_ranking th:nth-child(3),
table#table_notesradar_ranking td:nth-child(3) {
    width: 10px;
}

table#table_notesradar_ranking th:nth-child(4),
table#table_notesradar_ranking td:nth-child(4),
table#table_notesradar_ranking th:nth-child(5),
table#table_notesradar_ranking td:nth-child(5) {
    width: 40px;
}

table#table_notesradar_ranking td:nth-child(1),
table#table_notesradar_ranking td:nth-child(3),
table#table_notesradar_ranking td:nth-child(4),
table#table_notesradar_ranking td:nth-child(5) {
    text-align: right;
}

table#table_notesradar_ranking td:nth-child(3) {
    text-align: center;
}

ul#list_errormessages {
    width: 300px;
    list-style-type: none;
    padding-left: 10px;
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

div#scroll_logs {
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
}

ul#logs {
    list-style-type: none;
    padding: 0px;
    margin-left: 5px;
    color: white;
    text-shadow:
        0px 0px 2px black,
        1px 1px 2px black;
    font-size: small;
}

dialog.insidewindow {
    padding: 0px;
}

iframe#inner_setting {
    width: 600px;
    height: 420px;
}

iframe#inner_export {
    width: 800px;
    height: 480px;
}

iframe#inner_discordwebhook {
    width: 600px;
    height: 450px;
}
