div.tabpage {
    height: 340px;
}

div#setting_contents {
    border: 2px solid var(--toggle-message-color);
    flex: 1;
}

div.label {
    width: 195px;
}

div.summary_comment {
    font-size: small;
}

div.summary_playmode {
    width: 25px;
    text-align: center;
    align-self: center;
}

div.summary_levelblock {
    background-color: var(--highlight-background-color);
    padding: 1px 5px;
}

div.summary_level {
    width: 20px;
    text-align: center;
}

div.summary_itemblock {
    display: flex;
    background-color: var(--background-color);
    align-items: center;
}

div.summary_item {
    display: flex;
    padding-right: 4px;
    font-size: small;
    align-self: center;
}

div.lineblock {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: var(--highlight-background-color);
    align-self: center;
}

div.setting_item {
    display: block;
    padding: 2px 0px;
    margin-left: 30px;
    font-size: small;
}

div.hotkey_label {
    display: inline-block;
    width: 170px;
}

div.port_label {
    display: inline-block;
    width: 150px;
}

div.box_filter_overlay {
    display: inline-block;
    margin-left: 30px;
    border-style: solid;
    border-width: 1px;
    div.setting_item {
        margin-left: 20px;
    }
    div.filter_overlay_title {
        width: 200px;
    }
    div.filter_overlay_label {
        width: 105px;
    }
    div.filter_overlay_xy {
        width: 10px;
    }
    input.text_filepath {
        width: 320px;
    }
    input.number {
        width: 30px;
    }
}

/* div.box input.text_filepath {
    width: 300px;
} */

input.text_filepath {
    width: 400px;
}

input.number {
    width: 50px;
}

input.text_hotkey {
    width: 50px;
}

input.text_hashtags {
    width: 400px;
}

div.setting_annotation {
    font-size: xx-small;
    user-select: none;
}

div.buttons {
    display: block;
    text-align: right;
}
